svg{
background-color:transparent;
}
canvas{
	display: inline-block;
	vertical-align: baseline;
	position: relative;
    font-size: 14px;
    line-height: 2;
    color: #555;
}
.h{
	text-align:center
}

.a{
	text-decoration:none;
	color:#01A982;
}